h1 {
    text-transform:uppercase;
    font-size:3rem;
}
.motivation-img {
    border:5px solid pink;
    width:100%;
}
.poster {
    width:50%;
    margin-left: 25%;
    margin-top: 25px;
    color: rgb(246, 62, 92);
    font-family: 'Libre Baskerville', serif;
    text-align:center;
}
.quote {
    background-color:rgb(251, 251, 110);
    border: 10px dashed rgb(251,251,110);
}